# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
MMM_portfolio/
# .venv/
# venv/
# env/
# ENV/
# *.env
# .conda/
# conda_env/

# Distribution / Packaging
.Python
# build/
# develop-eggs/
# dist/
# downloads/
# eggs/
# .eggs/
# lib/
# lib64/
# parts/
# sdist/
# var/
# wheels/
# share/python-wheels/
# *.egg-info/
# .installed.cfg
# *.egg

# ======================
# Jupyter
# ======================
# .ipynb_checkpoints
# *.ipynb_checkpoint
# profile_default/
# ipython_config.py


# # Large data folders
# data/
# datasets/
# logs/
# checkpoints/
# saved_models/
# models/
# artifacts/

# ======================
# IDE / Editors
# ======================
# VS Code
.vscode/
.code-workspace

# PyCharm
.idea/
*.iml

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Environment & Secrets
# ======================
.env
.env.*
*.secret
*.key
secrets/
credentials/